---
layout: default
title: Research
permalink: /research/
---

<h1>Research</h1>

<p>My research interests are birational geometry and derived categories of
algebraic varieties.</p>

<h2>Publications and preprints</h2>

<ol reversed>
{% for pub in site.data.publications %}
  <li>
    <i>{{ pub.title }}</i>.
    {% if pub.authors.size > 0 %}
    <br>with
    {% for author in pub.authors %}{% unless forloop.first %}{% if forloop.last %} and {% else %}, {% endif %}{% endunless %}{% if author.url %}<a href="{{ author.url }}">{{ author.name }}</a>{% else %}{{ author.name }}{% endif %}{% endfor %}.
    {% endif %}
    {% if pub.venue %}
    <br>{{ pub.venue }} ({{ pub.year }}).
    {% if pub.doi %} <a href="https://doi.org/{{ pub.doi }}">DOI:{{ pub.doi }}</a>.{% endif %}
    {% else %}
    <br>(Submitted.)
    {% endif %}
    {% if pub.arxiv %}
    <br>Preprint: <a href="https://arxiv.org/abs/{{ pub.arxiv }}">arXiv:{{ pub.arxiv }}</a>.
    {% endif %}
  </li>
{% endfor %}
</ol>
