<header>
  <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
  <nav>
    <a href="{{ '/' | relative_url }}">Home</a>
    <a href="{{ '/cv/' | relative_url }}">CV</a>
    <a href="{{ '/research/' | relative_url }}">Research</a>
    <a href="{{ '/teaching/' | relative_url }}">Teaching</a>
    <a href="{{ '/writings/' | relative_url }}">Writings</a>
    <a href="{{ '/travel-map/' | relative_url }}">Travel Map</a>
    <a href="{{ '/miscellanea/' | relative_url }}">Miscellanea</a>
  </nav>
</header>
